@config
/*ROOT*/
/*Header*/
.header{
    height: auto;
    background-color: white;
}
.main-nav{
    display: flex;
    margin:50px 120px 10px 120px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: rgba(58, 58, 58, 1);
}
.main-manu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manu-item, .manu-item a{
    text-decoration: none;
    margin-left:20px;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
}
.header-box{
    display: flex;
    margin: 50px 120px 69px 120px;
    align-items: center;
    justify-content: center;
}
.header-text-box{
    margin: 70px 120px 70px 0px;
    width: 592px;
    height: 270px;
    display: flex;
    flex-direction:column;
    gap: 16px;
}
.header-text-box-title{
    font-size: 45px;
    color: rgba(58, 58, 58, 1);
    line-height: 1.2;
    margin-bottom: 16px;
}
.header-text-box-desc{
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
}
.header-text-box-btn{
    width: 196px;
    height: 44px;
    border: none;
    border-radius: 41px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    font-size: 16px;
    justify-content: space-around;
    margin-bottom: 16px;
}
.header-text-box-btn i {
    margin-left:8px;
}
.header-img-box{
    background-image:url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 475px;
    height: 475px;
}
.header-img{
    width: 440px;
    height: 414px;
}
.logos{
    border-radius: 5px;
    margin: 0px 165px 100px 165px;
    border-top: 1px solid rgba(58, 58, 58, 0.541);
    border-bottom: 1px solid rgba(58, 58, 58, 0.541);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 35px;
    padding-top: 35px;
}
.logos:hover{
    border-radius: 5px;
    border-bottom: 1px solid rgba(58, 58, 58, 0.541);
}
.banner-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-box-title{
    font-size: 28px;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 30px;
}
.product-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.product{
    width: 329px;
    height: 456px;
    padding: 15px 17px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product img {
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.product  h2{
    font-size: 28px;
    color: rgba(24, 25, 31, 1);
}
.product-p{
    font-size: 28px;
}
.product-desc {
    font-size: 14px;
    width: 180px;
    color: rgba(120, 120, 133, 1);
    font-weight: bold;
}
.product-desc-l2{
    font-size: 14px;
    color: rgba(120, 120, 133, 1);
    font-weight: bold;
}
.banner-one-ftr{
    margin-top: 45px;
    margin-right: -950px;
    text-align: end;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
}
.banner-two{
    margin: 100px 165px;
    display: flex;
    justify-content: center;
    gap: 96px;
}
.banner-two-img{
    width: 404px;
    height: auto;
}
.banner-two-box{
    padding: 23px 0;
    text-align: start;
}
.banner-two-title{
    font-size: 30px;
    color: rgba(10, 8, 38, 1);
    padding-bottom: 16px;
}
.banner-two-desc{
    padding-bottom: 16px;
    color: rgba(108, 108, 108, 1);
    font-size: 15px;
}
.banner-two-btn, .banner-two-btn p{
    width: 155px;
    height: 44px;
    color: white;
    font-size: 16px;
    background-color: rgba(224, 44, 109, 1);;
}
.footer{
    height: 239px;
    background-color: rgba(10, 8, 38, 1);
}
.footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.footer-title{
    font-size:24px;
    color: white;
}
.footer-desc{
    color: rgba(217, 219, 225, 1);
    font-size: 14px;
    font-weight: bold;
}
.footer-icons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.footer-icons i {
    display: flex; 
    align-items: center;     
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.521);
    height: 32px;
    width: 32px;
    border-radius: 50px;
}
