/*ROOT*/
/*Header*/
.header{
    height: auto;
    background-color: white;
}
.main-nav{
    display: flex;
    margin:50px 120px 10px 120px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color: rgba(58, 58, 58, 1);
}
.main-manu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manu-item, .manu-item a{
    text-decoration: none;
    margin-left:20px;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
}
.header-box{
    display: flex;
    margin: 50px 120px 69px 120px;
}
.header-text-box{
    margin: 70px 120px 70px 0px;
    width: 592px;
    height: 270px;
    gap: 16px;
}
.header-text-box-title{
    font-size: 45px;
    color: rgba(58, 58, 58, 1);
    line-height: 1.2;
    margin-bottom: 16px;
}
.header-text-box-desc{
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
}
.header-text-box-btn{
    width: 196px;
    height: 44px;
    border: none;
    border-radius: 41px;
    background-color: rgba(224, 44, 109, 1);
    color: white;
    font-size: 16px;
    justify-content: space-around;
}
.header-text-box-btn i{
    margin-left:8px;
}
.header-img-box{
    background-image:url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 475px;
    height: 475px;
}
.header-img{
    width: 440px;
    height: 414px;
}
.logos{
    margin: 0px 165px 100px 165px;
    border-top: 2px solid rgba(58, 58, 58, 0.541);
    border-bottom: 2px solid rgba(58, 58, 58, 0.541);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 61px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
    padding-top: 35px;
}